.project-hierarchy-repo-node-icon {
	background-image: url(repo.png) !important;
	background-size: 100% 100%;
	background-position: 50% 50% !important;
}

li.hierarchy-project-item .jstree-themeicon-custom {
	background-size: 100% 100% !important;
}